@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Puriscal<br />
   San Jose, Costa Rica<br />
    <abbr title="Phone">P:</abbr>
    2222 4444
</address>

