@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h4>¡Las Famosas pizzas personalizadas de 2 x 1! </h4>
<ul class="nav nav-tabs">
    <li class="active"><a href="#ingredientes" data-toggle="tab" aria-expanded="true">Seleccione Ingredientes.</a></li>
    <li ><a href="#entrega" data-toggle="tab" aria-expanded="false">Dirección Entrega</a></li>
    <li><a href="#desglose" data-toggle="tab" aria-expanded="false">Desglose Final</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="ingredientes">
         
        <ul class="pager">
            <li><a class="btnNext">Next</a></li>
        </ul>
    </div>
    <div class="tab-pane fade" id="entrega">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        <ul class="pager">
            <li><a class="btnPrevious">Previous</a></li>
            <li><a class="btnNext">Next</a></li>
        </ul>
    </div>
    <div class="tab-pane fade" id="desglose">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        <ul class="pager">
            <li><a class="btnNext">Next</a></li>

        </ul>
    </div>

</div>
