@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>¡Las Famosas pizzas personalizadas de 2 x 1! </h2>
<label for="recordatorio"> Recordatorio: Todas nuestras pizzas tiene como ingredientes base, la salsa de tomate y el queso.</label>
<form method="post">
    <div class="row">
        <div class="col-lg-6">
            <img src="~/images/VariedadPizzas.jpg" class="pizzaGeneral">
        </div>
        <div class="col-lg-3">
            <h4>Selecciones sus opciones preferidas:</h4>
            <h5>Tamaño de la Pizza:</h5>
            <div class="radio">
                <input type="radio" id="pequena" name="tamanio" value="Pequeña"
                       checked>
                <label for="pequena">Pequeña</label>
            </div>
            <div class="radio">
                <input type="radio" id="mediana" name="tamanio" value="Mediana">
                <label for="mediana">Mediana</label>
            </div>

            <div class="radio">
                <input type="radio" id="grande" name="tamanio" value="Grande">
                <label for="grande">Grande</label>
            </div>
            <br />
            <h5>Masa:</h5>
            <div class="radio">
                <input type="radio" id="delgada" name="masa" value="Delgada">
                <label for="delgada">Delgada</label>
            </div>
            <div class="radio">
                <input type="radio" id="gruesa" name="masa" value="Gruesa" checked>
                <label for="gruesa">Gruesa</label>
            </div>
        </div>
        <div class="col-lg-2">
            <h5>Ingredientes:</h5>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ing1" name="Ingredientes" value="Jamon" checked> Jamón
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ing2" name="Ingredientes" value="Hongos"> Hongos
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ing3" name="Ingredientes" value="Pepperoni"> Pepperoni
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ing4" name="Ingredientes" value="Piña"> Piña
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ing5" name="Ingredientes" value="Jalapeños"> Jalapeños
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ing6" name="Ingredientes" value="Carne"> Carne
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ing7" name="Ingredientes" value="Cebolla"> Cebolla
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ing8" name="Ingredientes" value="Pollo"> Pollo
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ing9" name="Ingredientes" value="Camarones"> Camarones
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ing10" name="Ingredientes" value="Chorizo"> Chorizo
                </label>
            </div>
        </div>

    </div>
    <div class="row">
        <span class="label label-danger">@Model.Mensaje</span>
        <br />
        <label for="textArea" class="col-lg-2 control-label">Dirección de Entrega:</label>
        <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="textArea" name="Direccion"></textarea>
        </div>
    </div>
    <br />
    <div class="row text-right">
        <button type="reset" class="btn btn-default">Cancelar</button>
        <button type="submit" class="btn btn-primary">Procesar</button>
    </div>
</form>

