@page
@model Examen2_Pizza.Pages.Desglose.DesgloseOrdenModel
@{
    ViewData["Title"] = "DesgloseOrden";
}

<div class="text-center">
    <h2>Desglose Final Orden</h2>
    <label> Su orden es:</label> <br/>
    <label>Tamaño de la Pizza: @Model.Tamanio</label><br />
    <label>Masa: @Model.Masa</label><br />
    <label>Ingredientes:</label><br />
    @for(int i = 0; i<Model.Ingredientes.Length; i++){
        <label>@Model.Ingredientes[i]</label> <br />
    }

</div>


